doctype html
html
  head
    link(rel='stylesheet', href='https://rambo-julesbe.c9users.io/styles.css')
    title #{message}
  body
    div(class="confirm-container")
      i(class="fa "+icon style="color:"+iconColor)
      h2(class="confirm-title") #{message}